* {
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

input { 
    appearance: none;
}

.myContainer {
    background-color: rgb(206, 200, 200);
    width: 35%;
    margin-left: 65%;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#colorOne, #colorTwo{
    height: 100%;
    width: 30%;
    border-radius: 0;
    margin-bottom: 10px;
}

/* #_NW, #_N, #_NE, #_E, #_SE, #_S, #_SW, #_W{
    font-size: 40px;
} */

p {
    margin-top: 10%;
    margin-bottom: 10%;
}

input[type=radio]:checked + label{
    font-size: 60px;
    color: rgb(37, 207, 111);
}

input[type=radio] + label{
    font-size: 40px;
    color: black;
}

.material-icons{
    font-size: inherit;
} 