*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.parentContainer{
    display: flex;
    justify-content: space-between;
    background-image: url("lightning-mcqueen-pulled-over.webp");
}

.inputContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 40%;
    background-color: white;
}

.inputContainer label{
    float: left;
    margin-left: 15%;
    padding-top: 2.2%;
}

.inputContainer input[type=text] {
    float: right;
    margin-right: 15%;
    height: 40px;
    width: 160px;
}

.inputContainer h2{
    margin-left: 15%;
    margin-top: 10%;
}

#bttnSection01{
    align-self: center;
}

#bttnSection02{
    align-self: center;
    display: inline-block;
}

.tableContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    width: 40%;
}

.tableContainer h2{
    margin-right: 15%;
    margin-top: 10%;
}

.tableContainer table{
    margin-top: 10%;
    margin-right: 10%;
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    background-color: white;
    text-align: center;
    border: 1px solid black;
}

th{
    background-color: white;
    text-align: center;
    height: 40px;
    padding: 1px;
    border: 1px solid black;
}

.myButtonClass{
    height: 40px;
    width: 160px;
    margin-left: 10px;
    margin-right: 10px;
}

#search{
    display: inline-block;
    margin-right: 0;
    margin-left: 10px;
    text-align: center;
}

p{
    text-align: center;
    margin-bottom: 10%;
}